<div id="contenu" [style.background-color]="contenuColor">
  <div *ngFor="let telecharge of telechargement, let i=index">
    <ng-container *ngIf="telecharge.type==='1'">
      <a href="{{ telecharge.lien }}">
        <button class="btn btn-info" style="margin-bottom:15px;">
          <fa-icon icon="download"></fa-icon> {{ telecharge.intitule }}
        </button>
      </a>
    </ng-container>

    <ng-container *ngIf="telecharge.type==='2'">
      <a href="{{ telechargementService.baseUrl+'telechargements/'+telecharge.lien }}">
        <button class="btn btn-primary" style="margin-bottom:15px;">
          <fa-icon icon="download"></fa-icon> {{ telecharge.intitule }}
        </button>
      </a>
    </ng-container>

  </div>
</div>
