<nav class="navbar fixed-top navbar-expand-lg navbar navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand"><img style="width:30px;height:auto" src="{{imageService.LogoNet}}">  {{ 'representant.representant' | translate }}</a>
      <form class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <ng-container *ngIf="currentMode !== 'commande'">
              <li routerLinkActive="active" style="cursor:pointer" id="telechargements" class="nav-item">
                  <a routerLink="/representant/history" class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" (click)="afficherHistory()"><span>{{ 'menu.history' | translate }}</span></a>
              </li>
            </ng-container>
            <ng-container *ngIf="currentMode !== 'liste'">
              <li routerLinkActive="active" style="cursor:pointer" id="telechargements" class="nav-item">
                  <a routerLink="/representant/list" class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" (click)="afficherListe()"><span>{{ 'menu.listeSalarie' | translate }}</span></a>
              </li>
            </ng-container>
            <li routerLinkActive="active" style="cursor:pointer" id="telechargements" class="nav-item">
                <a routerLink="/contenu/telechargements" class="nav-link" data-toggle="modal" data-target="#telechargementsModal"><span>{{ 'menu.telechargements' | translate }}</span></a>
            </li>
              <li class="nav-item">
                  <a class="nav-link"><i style="cursor:pointer" data-toggle="collapse" data-target=".navbar-collapse.show" (click)="deconnexion()"><fa-icon icon="power-off" size="2x"></fa-icon></i><span class="d-lg-none">Déconnexion</span></a>
              </li>
          </ul>
      </form>
  </div>
</nav>
<br/>

<!-- Modal bootstrap pour en savoir + -->
<div class="modal fade bd-example-modal-xl" id="telechargementsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div style="overflow: auto" class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ 'menu.telechargements' | translate }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngFor="let telecharge of telechargement, let i=index">
            <a target="_blank" href="{{ telecharge.lien }}"><button class="btn btn-warning" style="margin-bottom:15px;"><fa-icon icon="download" style="color:rgb(156, 25, 25)"></fa-icon> {{ telecharge.intitule }}</button></a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'acceuil.annuler' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
